.seat,
.row-label,
.column-label{
  margin: 4px;
  display: inline-block;
  overflow: hidden;
}

input[type="checkbox"]{
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}
.seat label{
  width: 35px;
  height: 32px;
  border-radius: 2px;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 2px solid #ccc;
  display: block;
    position: relative;}


.seat input[type="checkbox"]:disabled + label{
  border-color: darken(pink, 10%);
  background: pink;
  opacity: 0.66;
  cursor: not-allowed;
}
.seat input[type="checkbox"]:checked + label{
  background: limegreen;
  border-color: green;
 
}